*.html linguist-vendored=jupyter
*.ipynb linguist-vendored=jupyter
*.pyi linguist-vendored=jupyter
*.py linguist-vendored=jupyter
*.slo linguist-vendored=jupyter
*.so linguist-vendored=jupyter
*. linguist-vendored=Jupyter
